# Don't distribute the dependencies
node_modules/

#Don't track ipfs files
test/ipfs/
test/browser/ipfs/
test/browser/bundle.js*

# Don't track builds in git
# Distribution builds are available via npm
dist/

# Don't track Visual Studio Code settings
.vscode

# JSDoc output folder
docs/api/*
!docs/api/README.md