# Don't distribute the dependencies
node_modules/

# Don't track code coverage reports
coverage/

#Don't track ipfs files
test/ipfs/
test/browser/ipfs/
test/browser/bundle.js*

# Don't track examples' dependencies (libs) in git
examples/browser/browser-webpack-example/bundle.js
examples/browser/browser-webpack-example/*.map
examples/browser/lib

# Don't track builds in git
# Distribution builds are available via npm
dist/

# Don't track Visual Studio Code settings
.vscode

# JSDoc output folder
out/