# Make sure to exclude test data directory
orbitdb/

# Don't distribute the dependencies
node_modules/

# Don't distribute examples with the module
# See examples at https://github.com/orbitdb/orbit-db 
examples/

# Don't distribute source maps
dist/*.map

# Don't distribute the debug build
dist/orbitdb.js

# Don't distribute screenshot
# See examples at https://github.com/orbitdb/orbit-db 
screenshots/
