{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"insertPragma": false,
	"printWidth": 160,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true
}
